.cartBtnContainer {
  position: relative;
  & > button,
  div {
    position: absolute;
    height: 100%;
    border: none;
  }
  .amountBtn {
    background-color: #f5f5f7;
    transform: translate(100%, 0);
    width: 50%;
    border-radius: 0px 25px 25px 0px;
    div {
      height: fit-content;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -53%);
      p {
        color: #2e2e339e;
        font-size: 1.6rem;
        span:hover {
          cursor: pointer;
          user-select: none;
        }
      }
    }
  }
  .addBtn {
    color: white;
    border-radius: 25px;
    width: 60%;
    transition: all 0.5s;
    background-color: #4056a1;
    cursor: pointer;
    &:hover {
      width: 100%;
    }
  }

  .addBtn.added {
    background-color: #00b177;
    width: 100%;
  }
}
