@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

body {
  font-family: "Roboto";
}

h1 {
  font-size: 3rem;
  line-height: 40px;
  font-weight: 500;
}

p {
  font-size: 1.7rem;
  font-weight: 400;
}

span {
  font-size: 1.8rem;
}
